langchain
langchain-community
langchain-groq
langgraph
groq

transformers
torch
diffusers
accelerate
sentence-transformers

faiss-cpu
qdrant-client

pypdf
pydantic

pandas
numpy

Pillow
matplotlib

jupyter
ipykernel

python-dotenv
requests
